In [3]:
import pandas as pd

stops = pd.read_csv('./stops-241.csv')
linestop = pd.read_csv('./linestops-241.csv')

In [5]:
stops.head()

,STOPID,PLANVERSIONID,SHORTNAME,LONGNAME,GPS_X,GPS_Y,DECIMALLONGITUDE,DECIMALLATITUDE,PLANVERSIONID.1,ACTIVATIONDATE,CREATIONDATE
0,511409,241,K109C421,Kr 109 con Cl 42,-763106233,32130942,-76.518398,3.358595,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
1,511412,241,K109C423,Kr 109 con Cl 42,-763105815,32131175,-76.518282,3.358660,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
2,511413,241,C42K1121,Cl 42 entre Kr 109 y 112,-763113538,32122837,-76.520427,3.356344,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
3,511414,241,C42K1122,Cl 42 entre Kr 112 y 114A,-763113537,32116198,-76.520427,3.354499,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
4,511415,241,K114AC42,Kr 114A entre Cl 42 y 25,-763122932,32115784,-76.523037,3.354384,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000

In [10]:
stops.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2119 entries, 0 to 2118
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   STOPID            2119 non-null   int64
 1   PLANVERSIONID     2119 non-null   int64
 2   SHORTNAME         2119 non-null   object
 3   LONGNAME          2119 non-null   object
 4   GPS_X             2119 non-null   int64
 5   GPS_Y             2119 non-null   int64
 6   DECIMALLONGITUDE  2119 non-null   float64
 7   DECIMALLATITUDE   2119 non-null   float64
 8   PLANVERSIONID.1   2119 non-null   int64
 9   ACTIVATIONDATE    2119 non-null   object
 10  CREATIONDATE      2119 non-null   object
dtypes: float64(2), int64(5), object(4)
memory usage: 182.2+ KB

In [6]:
linestop.head()

,LINESTOPID,STOPSEQUENCE,ORIENTATION,LINEID,STOPID,PLANVERSIONID,LINEVARIANT,REGISTERDATE,LINEVARIANTTYPE,PLANVERSIONID.1,ACTIVATIONDATE,CREATIONDATE
0,1452640,34,0,251,514468,241,3,2018-05-14 22:55:32.000,1,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
1,1452641,35,0,251,514173,241,3,2018-05-14 22:55:32.000,1,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
2,1452642,36,0,251,514276,241,3,2018-05-14 22:55:32.000,1,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
3,1452643,37,0,251,514174,241,3,2018-05-14 22:55:32.000,1,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000
4,1452644,38,0,251,514277,241,3,2018-05-14 22:55:32.000,1,241,2018-05-15 00:00:00.000,2018-05-14 22:55:16.000

In [13]:
missing_ids = stops.loc[~stops['STOPID'].isin(linestop['STOPID']), 'STOPID']
print(missing_ids.tolist())

[4, 5, 6, 9, 10, 21, 22, 41]